<%- include("header", {}) %>

<main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">About Us</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li class="current">About Us</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <p class="who-we-are">Who We Are</p>
                    <h3>Tu comunidad canina, al alcance de un clic.</h3>
                    <p >
                        En Dogmmunity, somos un equipo apasionado compuesto por seis personas que compartimos un amor profundo por los perros y la tecnología. Nuestra misión es crear un espacio único donde los dueños de perros puedan conectar, aprender y disfrutar mientras cuidan a sus fieles compañeros.
                        <br><br> Creemos que cada perro merece lo mejor, y trabajamos juntos para desarrollar herramientas innovadoras y contenido útil que hacen que la vida con ellos sea más fácil y divertida. Desde proporcionar información personalizada sobre su cuidado hasta fomentar comunidades locales y globales para los amantes de los perros, todo lo que hacemos tiene como objetivo fortalecer el vínculo entre humanos y perros.
                        <br><br> Nuestra unión como equipo es la base de todo. Cada idea, proyecto y decisión nace de nuestra colaboración, pasión y compromiso por marcar una diferencia positiva. En Dogmmunity, los perros son más que nuestras estrellas; son nuestra inspiración diaria.
                    </p>
                    <!-- 
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate
                                velit.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda
                                mastiro dolore eu fugiat nulla pariatur.</span></li>
                    </ul>  -->
                </div>
                
                <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">
                        <div class="col-lg-6">
                            <img src="../img/perroinformatico.avif" class="img-fluid" alt="">
                        </div>
                       <div class="col-lg-6">
                                <div class="col-lg-12">
                                    <img src="../img/perroinformatico2.jpg" class="img-fluid" alt="">
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- /About Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <div class="section-title-container d-flex align-items-center justify-content-between">
                <h2>Team</h2>
            </div>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotodani.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Daniel Fernández López</h4>
                            <span>Chief Executive Officer</span>
                            <p>Mi misión es liderar con pasión e innovación para fusionar el mundo de los perros con la tecnología, creando un impacto positivo en sus vidas y las nuestras</p>
                            <div class="social">
                                <a href="https://github.com/DaniFL"  target="_blank"><i class="bi bi-github"></i></a>
                                <a href="mailto:daniel.fernandezlopez@usp.ceu.es"><i class="bi bi-google"></i></a>
                                <a href="https://www.linkedin.com/in/danielfernandezlopezprofile/"  target="_blank"> <i class="bi bi-linkedin"></i> </a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotolucia.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Lucía Sorní Scaletti</h4>
                            <span>Gerente de atención al cliente</span>
                            <p>Estoy aquí para escuchar y brindar soluciones a nuestros usuarios, asegurándome de que cada experiencia con nuestra empresa sea tan positiva como la compañía de un perro feliz.</p>
                            <div class="social">
                                <a href="https://github.com/luciasorni"  target="_blank"><i class="bi bi-github"></i></a>
                                <a href="mailto:luciasornisacaletti@usp.ceu.es"><i class="bi bi-google"></i></a>
                                <a href="https://www.linkedin.com/in/luc%C3%ADa-sorn%C3%AD-scaletti-24137a270/"  target="_blank"> <i class="bi bi-linkedin"></i> </a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotoencar.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Encarnación Teresa González Buitrago</h4>
                            <span>Especialista en comportamiento canino</span>
                            <p>Trabajo para comprender y comunicar el lenguaje de los perros, ayudando a fortalecer el vínculo entre ellos y sus familias con consejos prácticos y soluciones efectivas.</p>
                            <div class="social">
                                <a href="https://github.com/encargb"  target="_blank"><i class="bi bi-github"></i></a>
                                <a href="mailto:encarnacionteresa.gonzalezbuit@usp.ceu.es"><i class="bi bi-google"></i></a>
                                <a href="https://www.linkedin.com/in/encarnaci%C3%B3n-teresa-gonz%C3%A1lez-buitrago-77020a18a/"  target="_blank"> <i class="bi bi-linkedin"></i> </a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotomarcos.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Marcos Martínez Baeza</h4>
                            <span>Diseñador gráfico</span>
                            <p>Mi compromiso es dar vida a nuestra misión a través de diseños que capturen la alegría, la energía y el espíritu único que los perros aportan a nuestras vidas.</p>
                            <div class="social">
                                <a href="https://github.com/Marquitos12"  target="_blank"><i class="bi bi-github"></i></a>
                                <a href="m.martinez236@usp.ceu.es"><i class="bi bi-google"></i></a>
                                <a href="https://www.linkedin.com/in/marcos-martinez-5b2bab174/"  target="_blank"> <i class="bi bi-linkedin"></i> </a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotojavi.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Javier Martínez Cristobal</h4>
                            <span>Chief Data Officer</span>
                            <p>Unimos el amor por los perros con la tecnología para crear soluciones innovadoras que mejoren la vida de nuestras mascotas y sus dueños</p>
                            <div class="social">
                                <a href="https://github.com/Jmartinezc-rgb"  target="_blank"><i class="bi bi-github"></i></a>
                                <a href="mailto:javier.martinezcristobal@usp.ceu.es"><i class="bi bi-google"></i></a>
                                <a href="https://www.linkedin.com/in/javier-martinez-cristobal/"  target="_blank"> <i class="bi bi-linkedin"></i> </a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotoines.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Inés del Río García</h4>
                            <span>Directora de marketing</span>
                            <p>Mi objetivo es conectar a los amantes de los perros con soluciones innovadoras, construyendo una comunidad donde cada interacción celebre la relación especial entre humanos y mascotas.</p>
                            <div class="social">
                                <a href="https://github.com/inesdelrio" target="_blank"><i class="bi bi-github"></i></a>
                                <a href="mailto:ines.delriogarcia@usp.ceu.es"><i class="bi bi-google"></i></a> <!-- ponemos el correo aqui -->
                                <a href="https://www.linkedin.com/in/in%C3%A9s-del-r%C3%ADo/" target="_blank"><i class="bi bi-linkedin"></i> </a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section><!-- /Team Section -->

</main>

<%- include("footer", {}) %>