<%- include("header", {}) %>

<head>
    <link rel="stylesheet" href="/css/boton_dogbot.css">
</head>

<main class="main">

    <div class="page-title">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Portal de adiestradores</h1>
            <!-- Botón Dogbot -->
<button class="button" onclick="window.location.href='/chat';">
  <div class="dots_border"></div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="sparkle"
  >
    <path
      class="path"
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke="black"
      fill="black"
      d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z"
    ></path>
    <path
      class="path"
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke="black"
      fill="black"
      d="M6 14.25L5.741 15.285C5.59267 15.8785 5.28579 16.4206 4.85319 16.8532C4.42059 17.2858 3.87853 17.5927 3.285 17.741L2.25 18L3.285 18.259C3.87853 18.4073 4.42059 18.7142 4.85319 19.1468C5.28579 19.5794 5.59267 20.1215 5.741 20.715L6 21.75L6.259 20.715C6.40725 20.1216 6.71398 19.5796 7.14639 19.147C7.5788 18.7144 8.12065 18.4075 8.714 18.259L9.75 18L8.714 17.741C8.12065 17.5925 7.5788 17.2856 7.14639 16.853C6.71398 16.4204 6.40725 15.8784 6.259 15.285L6 14.25Z"
    ></path>
    <path
      class="path"
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke="black"
      fill="black"
      d="M6.5 4L6.303 4.5915C6.24777 4.75718 6.15472 4.90774 6.03123 5.03123C5.90774 5.15472 5.75718 5.24777 5.5915 5.303L5 5.5L5.5915 5.697C5.75718 5.75223 5.90774 5.84528 6.03123 5.96877C6.15472 6.09226 6.24777 6.24282 6.303 6.4085L6.5 7L6.697 6.4085C6.75223 6.24282 6.84528 6.09226 6.96877 5.96877C7.09226 5.84528 7.24282 5.75223 7.4085 5.697L8 5.5L7.4085 5.303C7.24282 5.24777 7.09226 5.15472 6.96877 5.03123C6.84528 4.90774 6.75223 4.75718 6.697 4.5915L6.5 4Z"
    ></path>
  </svg>
  <span class="text_button">Dogbot</span>
</button>

        </div>
    </div>
    

    <!-- Team Section -->
    <section id="team" class="team section">

        <div class="container">

            <div class="row gy-4">
                <!-- Modal -->
                <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal1Label">Daniel Fernández López</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p><strong>Valoraciones:</strong> VALORACIONES</p>
                        <p><strong>Comentarios:</strong> dajksfsn</p>
                        <p><strong>Contacto:</strong> (aqui hay q redirigir al chat)</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotodani.jpg" class="img-fluid" alt=""></div> <!--hay q meter la foto de los adiestradores aqui-->
                        <div class="member-info">
                            <h4>Daniel Fernández López</h4>
                            <span>VALORACIONES</span>
                            <div class="social">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal1"><i class="bi bi-info-circle"></i></a>
                                <a><i class="bi bi-chat-dots"></i></a> <!-- redirecion al chat-->
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <!-- Modal -->
                <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal2Label">PERSONA 2</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p><strong>Valoraciones:</strong> VALORACIONES</p>
                        <p><strong>Comentarios:</strong> dajksfsn</p>
                        <p><strong>Contacto:</strong> (aqui hay q redirigir al chat)</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotolucia.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Lucía Sorní Scaletti</h4>
                            <span>VALORACIONES</span>
                            <div class="social">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal2"><i class="bi bi-info-circle"></i></a>
                                <a><i class="bi bi-chat-dots"></i></a> <!-- redirecion al chat-->
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <!-- Modal -->
                <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal3Label">PERSONA3</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p><strong>Valoraciones:</strong> VALORACIONES</p>
                        <p><strong>Comentarios:</strong> dajksfsn</p>
                        <p><strong>Contacto:</strong> (aqui hay q redirigir al chat)</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotoencar.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>PERSONA3</h4>
                            <span>VALORACIONES</span>
                            <div class="social">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal3"><i class="bi bi-info-circle"></i></a>
                                <a><i class="bi bi-chat-dots"></i></a> <!-- redirecion al chat-->
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <!-- Modal -->
                <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal4Label">PERSONA4</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p><strong>Valoraciones:</strong> VALORACIONES</p>
                        <p><strong>Comentarios:</strong> dajksfsn</p>
                        <p><strong>Contacto:</strong> (aqui hay q redirigir al chat)</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotomarcos.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>PERSONA4</h4>
                            <span>VALORACIONES</span>
                            <div class="social">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal4"><i class="bi bi-info-circle"></i></a>
                                <a><i class="bi bi-chat-dots"></i></a> <!-- redirecion al chat-->
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <!-- Modal -->
                <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="modal35Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal3Label">PERSONA5</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p><strong>Valoraciones:</strong> VALORACIONES</p>
                        <p><strong>Comentarios:</strong> dajksfsn</p>
                        <p><strong>Contacto:</strong> (aqui hay q redirigir al chat)</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotojavi.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>PERSONA5</h4>
                            <span>VALORACIONES</span>
                            <div class="social">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal5"><i class="bi bi-info-circle"></i></a>
                                <a><i class="bi bi-chat-dots"></i></a> <!-- redirecion al chat-->
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <!-- Modal -->
                <div class="modal fade" id="modal6" tabindex="-1" aria-labelledby="modal6Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal6Label">PERSONA6</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <p><strong>Valoraciones:</strong> VALORACIONES</p>
                        <p><strong>Comentarios:</strong> dajksfsn</p>
                        <p><strong>Contacto:</strong> (aqui hay q redirigir al chat)</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member d-flex align-items-start">
                        <div class="pic"><img src="../img/fotoines.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>PERSONA6</h4>
                            <span>VALORACIONES</span>
                            <div class="social">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal6"><i class="bi bi-info-circle"></i></a>
                                <a><i class="bi bi-chat-dots"></i></a> <!-- redirecion al chat-->
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section><!-- /Team Section -->

</main>

<%- include("footer", {}) %>