<%- include("header", {}) %>

<div class="container mt-5">
    <!-- Formulario de Inicio de Sesión -->
    <h2 class="text-center mb-4">Simulador de visión perruna</h2>
</div>


<%- include("footer", {}) %>