<%- include("header", {}) %>

    <h1>Modificar Foto de Perfil</h1>

    <form id="formularioFoto" class="formularioPerfil" method="POST" action="/edit_user_photo">
        <h3>Selecciona una nueva foto de perfil</h3>
        <div class="form-group">
            <div class="opciones-fotos">
                <label>
                    <img src="/img/img_perfil1.jpg" alt="Foto 1" width="100" height="100">
                    <input type="radio" name="fotoPerfil" value="img_perfil1.jpg" required>
                    <br>
                </label>
                <label>
                    <img src="/img/img_perfil2.jpg" alt="Foto 2" width="100" height="100">
                    <input type="radio" name="fotoPerfil" value="img_perfil2.jpg">
                </label>
                <label>
                    <img src="/img/img_perfil3.jpg" alt="Foto 3" width="100" height="100">
                    <input type="radio" name="fotoPerfil" value="img_perfil3.jpg">
                    <br>
                </label>
                <label>
                    <img src="/img/img_perfil4.jpg" alt="Foto 4" width="100" height="100">
                    <input type="radio" name="fotoPerfil" value="img_perfil4.jpg">
                </label>
                <label>
                    <img src="/img/img_perfil5.jpg" alt="Foto 1" width="100" height="100">
                    <input type="radio" name="fotoPerfil" value="perfil_con_perro.png" required>
                </label>
            </div>
            <br><br>
        </div>
        <button class="botonesGuardarPerfil" type="submit">Guardar foto</button>
    </form>
    <script src="/public/js/edit_profile_pic.js"></script> 
</body>
</html>