<%- include("header", {}) %>

    <h2 class="registro_titulo">Añade a tu perro</h1>
    <form class="inicio_form" method="post">
        
        <label class="inicio_label" for="nombrePerro">¿Cómo se llama tu perro?</label> 
        <input class="inicio_input" type="text" id="nombrePerro" name="nombrePerro" placeholder="Indica el nombre de tu perro">

        
        <label class="inicio_label" for="edadPerro">Edad de tu perro</label>
        <input class="inicio_input" type="date" id="edadPerro" name="edadPerro" min="1994-01-01"
            placeholder="Ingresa la fecha de nacimiento de tu perro">
        <script>
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('edadPerro').setAttribute('max', today); 
        </script>

        <!-- Peso del perro -->
        <label class="inicio_label" for="pesoPerro">¿Cuánto pesa tu perro?</label>
        <input class="inicio_input" type="number" id="pesoPerro" name="pesoPerro" min="1" max="162" placeholder="Ingresa el peso en kg">

        <!-- Sexo del perro -->
        <label class="inicio_label" for="sexoPerro">¿Qué sexo es tu perro?</label>
        <input class="inicio_input" type= "text" list="sexo" id="sexoPerro" name="sexo" placeholder="Escribe o selecciona el sexo">
        <datalist id="sexo">
            <option value="Macho">
            <option value="Hembra">
        </datalist>

        <!-- Raza del perro -->
        <label class="inicio_label" for="razaPerro">¿Qué raza de perro tienes?</label>
        <input class="inicio_input" type= "text" list="razas" id="razaPerro" name="raza" placeholder="Escribe o selecciona una raza">
        <datalist id="razas">
            <option value="Labrador Retriever">
            <option value="Golden Retriever">
            <option value="Bulldog">
            <option value="Poodle">
            <option value="Pastor Alemán">
            <option value="Beagle">
            <option value="Rottweiler">
            <option value="Yorkshire Terrier">
            <option value="Dachshund">
            <option value="Boxer">
            <option value="Husky Siberiano">
            <option value="Chihuahua">
            <option value="Doberman">
            <option value="Shih Tzu">
            <option value="Cocker Spaniel">
            <option value="Pomerania">
            <option value="Border Collie">
            <option value="Dálmata">
            <option value="Boston Terrier">
            <option value="Gran Danés">
            <option value="Akita">
            <option value="Alaskan Malamute">
            <option value="American Staffordshire Terrier">
            <option value="Basset Hound">
            <option value="Bloodhound">
            <option value="Bichón Frisé">
            <option value="Borzoi">
            <option value="Bull Terrier">
            <option value="Cane Corso">
            <option value="Cavalier King Charles Spaniel">
            <option value="Chow Chow">
            <option value="Dogo Argentino">
            <option value="Dogo de Burdeos">
            <option value="Fox Terrier">
            <option value="Galgo Español">
            <option value="Jack Russell Terrier">
            <option value="Mastín Español">
            <option value="Mastín Napolitano">
            <option value="Perro de Agua Español">
            <option value="Samoyedo">
            <option value="San Bernardo">
            <option value="Shiba Inu">
            <option value="Springer Spaniel">
            <option value="Staffordshire Bull Terrier">
            <option value="Terranova">
            <option value="Whippet">
            <option value="West Highland White Terrier">
        </datalist>
        <button class="inicio_input" type="submit">Guardar perro</button>
    </form>
</body>
</html>

