<%- include("header", {}) %>

    <!--cambiar la contraseña -->
    <div class="container mt-4">
        <h1 class="text-center mb-4">Cambiar contraseña</h1>
    
        <form id="formularioContraseña" class="needs-validation" action="/edit_user_profile" method="post" novalidate>
            <div class="mb-3">
                <label class="form-label" for="nuevaContrasena">Nueva contraseña</label>
                <input class="form-control" type="password" id="nuevaContrasena" name="nuevaContrasena" required>
                <input type="hidden" name="userId" value="<%= user.id %>">
                <div class="invalid-feedback">Por favor, ingresa la nueva contraseña.</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirmarContrasena">Confirmar nueva contraseña</label>
                <input class="form-control" type="password" id="confirmarContrasena" name="confirmarContrasena" required>
                <div class="invalid-feedback">Por favor, confirma la nueva contraseña.</div>
            </div>
            <script>
                document.getElementById('formularioContraseña').addEventListener('submit', function(event) {
                    var nuevaContrasena = document.getElementById('nuevaContrasena').value;
                    var confirmarContrasena = document.getElementById('confirmarContrasena').value;
            
                    if (nuevaContrasena !== confirmarContrasena) {
                        event.preventDefault();
                        alert('Las contraseñas no coinciden. Por favor, inténtalo de nuevo.');
                    } else {
                        window.location.href = '/login';
                        alert('Contraseña guardada correctamente.');                        
                    }

                });
            </script>
            <!--añdir opcion de no igual q la anterior
            ambos campos iguales-->
            <button class="btn btn-primary" type="submit">Guardar contraseña</button>
        </form>
        <br><br><br><br>
        <br><br><br>
    </div>
<%- include("footer", {}) %>