<%- include("header", {}) %>

    <div class="container mt-4">
        <h2 class="text-center mb-4">Añade a tu perro</h2>
        <form class="needs-validation" action="/edit_dog_profile" method="post" novalidate>

            <div class="mb-3">
                <label class="form-label" for="nombrePerro">¿Cómo se llama tu perro?</label>
                <input class="form-control" type="text" id="nombrePerro" name="nombrePerro"
                    placeholder="Indica el nombre de tu perro" required>
                <div class="invalid-feedback">Por favor, indica el nombre de tu perro.</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="edadPerro">Edad de tu perro</label>
                <input class="form-control" type="date" id="edadPerro" name="edadPerro" min="1994-01-01"
                    placeholder="Ingresa la fecha de nacimiento de tu perro" required>
                <div class="invalid-feedback">Por favor, ingresa la fecha de nacimiento de tu perro.</div>
                <script>
                    const today = new Date().toISOString().split('T')[0];
                    document.getElementById('edadPerro').setAttribute('max', today); 
                </script>
            </div>

            <div class="mb-3">
                <label class="form-label" for="pesoPerro">¿Cuánto pesa tu perro?</label>
                <input class="form-control" type="number" id="pesoPerro" name="pesoPerro" min="1" max="162"
                    placeholder="Ingresa el peso en kg" required>
                <div class="invalid-feedback">Por favor, ingresa el peso de tu perro.</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="sexoPerro">¿De qué sexo es tu perro?</label>
                <select class="form-control" type="text" list="sexo" id="sexoPerro" name="sexo" placeholder="Selecciona el sexo de tu perro">
                    <option value="" disabled selected>Selecciona un sexo</option> 
                    <option value="Macho"> Macho </option>
                    <option value="Hembra"> Hembra </option>
                </select>
                <div class="invalid-feedback">Por favor, selecciona el sexo de tu perro.</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="razaPerro">¿Qué raza de perro tienes?</label>
                <select class="form-control" id="razaPerro" name="raza" required>
                    <option value="" disabled selected>Selecciona una raza</option>
                    <option value="Labrador Retriever">Labrador Retriever</option>
                    <option value="Golden Retriever">Golden Retriever</option>
                    <option value="Bulldog">Bulldog</option>
                    <option value="Poodle">Poodle</option>
                    <option value="Pastor Alemán">Pastor Alemán</option>
                    <option value="Beagle">Beagle</option>
                    <option value="Rottweiler">Rottweiler</option>
                    <option value="Yorkshire Terrier">Yorkshire Terrier</option>
                    <option value="Dachshund">Dachshund</option>
                    <option value="Boxer">Boxer</option>
                    <option value="Husky Siberiano">Husky Siberiano</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Doberman">Doberman</option>
                    <option value="Shih Tzu">Shih Tzu</option>
                    <option value="Cocker Spaniel">Cocker Spaniel</option>
                    <option value="Pomerania">Pomerania</option>
                    <option value="Border Collie">Border Collie</option>
                    <option value="Dálmata">Dálmata</option>
                    <option value="Boston Terrier">Boston Terrier</option>
                    <option value="Gran Danés">Gran Danés</option>
                    <option value="Akita">Akita</option>
                    <option value="Alaskan Malamute">Alaskan Malamute</option>
                    <option value="American Staffordshire Terrier">American Staffordshire Terrier</option>
                    <option value="Basset Hound">Basset Hound</option>
                    <option value="Bloodhound">Bloodhound</option>
                    <option value="Bichón Frisé">Bichón Frisé</option>
                    <option value="Borzoi">Borzoi</option>
                    <option value="Bull Terrier">Bull Terrier</option>
                    <option value="Cane Corso">Cane Corso</option>
                    <option value="Cavalier King Charles Spaniel">Cavalier King Charles Spaniel</option>
                    <option value="Chow Chow">Chow Chow</option>
                    <option value="Dogo Argentino">Dogo Argentino</option>
                    <option value="Dogo de Burdeos">Dogo de Burdeos</option>
                    <option value="Fox Terrier">Fox Terrier</option>
                    <option value="Galgo Español">Galgo Español</option>
                    <option value="Jack Russell Terrier">Jack Russell Terrier</option>
                    <option value="Mastín Español">Mastín Español</option>
                    <option value="Mastín Napolitano">Mastín Napolitano</option>
                    <option value="Perro de Agua Español">Perro de Agua Español</option>
                    <option value="Samoyedo">Samoyedo</option>
                    <option value="San Bernardo">San Bernardo</option>
                    <option value="Shiba Inu">Shiba Inu</option>
                    <option value="Springer Spaniel">Springer Spaniel</option>
                    <option value="Staffordshire Bull Terrier">Staffordshire Bull Terrier</option>
                    <option value="Terranova">Terranova</option>
                    <option value="Whippet">Whippet</option>
                    <option value="West Highland White Terrier">West Highland White Terrier</option>
                    <option value="Otro">Otro</option>

                </select>
                <div class="invalid-feedback">Por favor, selecciona una raza de perro.</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="is_lost">¿Se ha perdido tu perro?</label>
                <select class="form-control" type="text" list="is_lost" id="is_lost" name="is_lost" required>
                    <option value="0"> No está perdido </option>
                    <option value="1"> Está perdido </option>
                </select>
                <div class="invalid-feedback">Por favor, selecciona el estado de tu perro.</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="fotoPerro">Adjunta una foto de tu perro</label>
                <input class="form-control" type="file" id="fotoPerro" name="fotoPerro" accept="image/*" required>
                <div class="invalid-feedback">Por favor, adjunta una foto de tu perro.</div>
            </div>

            <button class="btn btn-primary" type="submit">Guardar perro</button>
        </form>
        <br>
    </div>

    <%- include("footer", {}) %>