<%- include("header", {}) %>
    <!-- cambiar el nombre
    <form id="formularioNombre" class="formularioPerfil">
        <h3>Cambiar nombre</h3>
        <div class="form-group">
            <label for="nuevoNombre">Nuevo nombre</label>
            <br>
            <input type="text" class="nuevoNombre" id="nuevoNombre" name="nuevoNombre">
            <br><br>
        </div>
        <div class="form-group">
            <label for="confirmarNombre">Confirmar nuevo nombre</label>
            <br>
            <input type="text" id="confirmarNombre" name="confirmarNombre">
            <br><br>
        </div>
        <button class="botonesGuardarPerfil" type="submit">Guardar nombre</button>
    </form>-->

    <!--cambiar el apellido 
    <form id="formularioApellido" class="formularioPerfil">
        <h3>Cambiar apellido</h3>
        <div class="form-group">
            <label for="nuevoApellido">Nuevo apellido</label>
            <br>
            <input type="text" id="nuevoApellido" name="nuevoApellido">
            <br><br>
        </div>
        <div class="form-group">
            <label for="confirmarApellido">Confirmar nuevo apellido</label>
            <br>
            <input type="text" id="confirmarApellido" name="confirmarApellido">
            <br><br>
        </div>
        <button class="botonesGuardarPerfil" type="submit">Guardar apellido</button>
    </form>-->

    <!-- cambiar el correo
    <form id="formularioCorreo" class="formularioPerfil">
        <h3>Cambiar correo electrónico</h3>
        <div class="form-group">
            <label for="nuevoCorreo">Nuevo correo electrónico</label>
            <br>
            <input type="email" id="nuevoCorreo" name="nuevoCorreo">
            <br><br>
        </div>
        <div class="form-group">
            <label for="confirmarCorreo">Confirmar nuevo correo electrónico</label>
            <br>
            <input type="email" id="confirmarCorreo" name="confirmarCorreo">
            <br><br>
        </div>
        <button class="botonesGuardarPerfil" type="submit">Guardar correo</button>
    </form>-->

    <!--cambiar la contraseña -->
    <div class="container mt-4">
        <h1 class="text-center mb-4">Cambiar contraseña</h1>
    
        <form id="formularioContraseña" class="needs-validation" action="/edit_user_profile" method="post" novalidate>
            <div class="mb-3">
                <label class="form-label" for="nuevaContrasena">Nueva contraseña</label>
                <input class="form-control" type="password" id="nuevaContrasena" name="nuevaContrasena" required>
                <input type="hidden" name="userId" value="<%= user.id %>">
                <div class="invalid-feedback">Por favor, ingresa la nueva contraseña.</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirmarContrasena">Confirmar nueva contraseña</label>
                <input class="form-control" type="password" id="confirmarContrasena" name="confirmarContrasena" required>
                <div class="invalid-feedback">Por favor, confirma la nueva contraseña.</div>
            </div>
            <script>
                document.getElementById('formularioContraseña').addEventListener('submit', function(event) {
                    var nuevaContrasena = document.getElementById('nuevaContrasena').value;
                    var confirmarContrasena = document.getElementById('confirmarContrasena').value;
            
                    if (nuevaContrasena !== confirmarContrasena) {
                        event.preventDefault();
                        alert('Las contraseñas no coinciden. Por favor, inténtalo de nuevo.');
                    } else {
                        window.location.href = '/login';
                        alert('Contraseña guardada correctamente.');                        
                    }

                });
            </script>
            <!--añdir opcion de no igual q la anterior
            ambos campos iguales-->
            <button class="btn btn-primary" type="submit">Guardar contraseña</button>
        </form>
        <br><br><br><br>
        <br><br><br>
    </div>
<%- include("footer", {}) %>