<%- include("header", {}) %>

<!-- Contenedor del formulario -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Introduce tu correo para recuperar tu contraseña</h2>
    <form action="/forgot_password" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </form>
    <br><br>
</div>

<%- include("footer", {}) %>