<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogmmunity - Inicio</title>
    <link rel="stylesheet" href="../css/styless.css">
    <link rel="icon" type="img/jpeg" href="../img/logo_1.jpeg">
</head>
<body>

    <!-- Menú de navegación -->
    <div class="navbar">
        <!-- Opciones del lado izquierdo -->
        <nav>
            <a href="./index.html">Inicio</a>
            <a href="./registro.html">Registro</a>
            <a href="./inicio_sesion.html">Iniciar Sesión</a>
        </nav>
    </div>
    
    <!-- Mensaje de bienvenida -->
    <h1 class="bienvenida">¡Bienvenido!</h1>

    <!-- Imagen de fondo grande -->
    <div>
        <img class="index_img" src="../img/cachorros.jpg" alt="Imagen de ejemplo" width="554" height="415">
    </div>

    <!-- Descripción más pequeña -->
    <h2 class="eslogan">El lugar de encuentro entre amantes de los perros. </h2>
    <h3 class="introduccion">Aquí aprenderás todo sobre el cuidado de tu amigo peludo y dispondrás de servicios online para mimarlo.</h3>

    <footer class="text-center mt-5">
        <p>&copy; 2024 Dogmmunity. Todos los derechos reservados.</p>
    </footer>
</body>
</html>