<%- include("header", {}) %>
    
    <!-- Mensaje de bienvenida -->
    <h1 class="bienvenida">¡Bienvenido a Dogmmunity!</h1>

    <!-- Imagen de fondo grande -->
    <div>
        <img class="index_img" src="../img/cachorros.jpg" alt="Imagen de ejemplo" width="554" height="415">
    </div>

    <!-- Descripción más pequeña -->
    <h2 class="eslogan">El lugar de encuentro entre amantes de los perros. </h2>
    <h3 class="introduccion">Aquí aprenderás todo sobre el cuidado de tu amigo peludo y dispondrás de servicios online para mimarlo.</h3>

<%- include("footer", {}) %>