<%- include("header", {}) %>

<main class="main">

    <!-- Slider Section -->
    <section id="slider" class="slider section dark-background">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper">

                <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              }
            }
          </script>

                <div class="swiper-wrapper">

                    <div class="swiper-slide" style="background-image: url('/img/img_v2/picture2.jpg');">
                        <div class="content">
                            <h2>
                                <a href="https://www.tiendanimal.es/articulos/cual-es-el-mejor-juguete-para-perros-segun-sus-necesidades/?srsltid=AfmBOopfGvA5yp5P2S72vwbGcHdT98PROoB_hz0sr9EZA4T0UqnrTHvH" 
                                   target="_blank" 
                                   rel="noopener noreferrer">
                                   Descubre cuáles son los mejores juguetes para perros
                                </a>
                            </h2>
                            <p>Los Mejores Juguetes para Perros que Harán Feliz a Tu Mascota</p>
                        </div>
                    </div>
                    

                    <div class="swiper-slide" style="background-image: url('/img/img_v2/picture3.jpg');">
                        <div class="content">
                            <h2>
                                <a href="https://www.vetlascondes.cl/es/comportamiento/las-10-mejores-razas-de-perro-para-tener-en-familia" 
                                   target="_blank" 
                                   rel="noopener noreferrer">
                                   Las 10 mejores razas de perro para tener en familia
                                </a>
                            </h2>
                            <p>Estas razas no solo son adorables, ¡también son excelentes compañeros para los más pequeños del hogar!</p>
                        </div>
                    </div>
                    

                    <div class="swiper-slide" style="background-image: url('/img/img_v2/picture4.jpg');">
                        <div class="content">
                            <h2><a href="https://www.clinicaveterinariazarpa.com/noticias/estres-perros-sintomas-tratamiento/">Síntomas de estrés en perros y cómo ayudarlos a superarlo</a></h2>
                            <p>Aprende a identificar los síntomas y cómo ayudar a tu mejor amigo en momentos difíciles.
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide" style="background-image: url('/img/img_v2/picture1.jpg');">
                        <div class="content">
                            <h2><a href="https://www.nunpet.es/blog/perros/secretos-de-la-nutricion-adecuada-para-tu-amigo-peludo/?srsltid=AfmBOoqecvuOQ6Tcxpa1jj7kuE6dviqyVntoNd1lTztqowZtdVcy3Ot_">  Secretos de la nutrición adecuada para tu amigo peludo</a>
                            </h2>
                            <p> Alimenta a tu mascota como se merece: consejos prácticos para cuidar su salud y bienestar.</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

                <div class="swiper-pagination"></div>
            </div>

        </div>

    </section><!-- /Slider Section -->

    <!-- Trending Category Section -->
    <section id="trending-category" class="trending-category section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="container" data-aos="fade-up">
                <div class="row g-5">
                    <div class="col-lg-4">

                        <div class="post-entry lg">
                            <a href="https://www.ambito.com/lifestyle/lenguaje-canino-revelado-que-intenta-decirte-tu-perro-cuando-aulla-n5934475">
                                <img src="assets/img/post-landscape-1.jpg" alt="" class="img-fluid">
                            </a>
                            <div class="post-meta">
                                <span class="date">Culture</span>
                                <span class="mx-1">•</span>
                                <span>24 Nov 2024</span>
                            </div>
                            <h2>
                                <a href="https://www.ambito.com/lifestyle/lenguaje-canino-revelado-que-intenta-decirte-tu-perro-cuando-aulla-n5934475">
                                    Lenguaje canino revelado: Qué intenta decirte tu perro cuando aúlla
                                </a>
                            </h2>
                            <p class="mb-4 d-block">
                                Comprender el lenguaje de los ladridos es esencial para los dueños de estas mascotas. A pesar de que todos los
                                aullidos de tu perro suenen parecido, cada uno de ellos tiene un significado específico. Los tonos agudos pueden
                                indicar excitación o miedo, mientras que los ladridos más graves pueden expresar una actitud de amenaza o buscan
                                marcar territorio.
                            </p>
                        
                            <div class="d-flex align-items-center author">
                                <div class="photo">
                                    <img src="assets/img/person-1.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        

                    </div>

                    <div class="col-lg-8">
                        <div class="row g-5">
                            <div class="col-lg-4 border-start custom-border">
                                <div class="post-entry">
                                    <a href="https://www.purina.es/cuidados/perros/salud/revisiones-veterinarias-de-los-perros" target="_blank">
                                        <img src="assets/img/post-landscape-2.jpg" alt="" class="img-fluid">
                                    </a>
                                    <div class="post-meta">
                                        <span class="date">Salud y Bienestar</span> <span class="mx-1">•</span>
                                        <span>15 Jul 2024</span>
                                    </div>
                                    <h2>
                                        <a href="https://www.purina.es/cuidados/perros/salud/revisiones-veterinarias-de-los-perros" target="_blank">
                                            La importancia de las revisiones veterinarias periódicas para tu perro
                                        </a>
                                    </h2>
                                </div>
                                
                                <div class="post-entry">
                                    <a href="https://www.santevet.es/articulo/chocolate-toxico-para-mascotas" target="_blank">
                                        <img src="assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                                    </a>
                                    <div class="post-meta">
                                        <span class="date">Alimentación y Nutrición</span> <span class="mx-1">•</span>
                                        <span>5 Feb 2024</span>
                                    </div>
                                    <h2>
                                        <a href="https://www.santevet.es/articulo/chocolate-toxico-para-mascotas" target="_blank">
                                            El chocolate: ¿es tóxico para tu mascota?
                                        </a>
                                    </h2>
                                </div>
                                
                                <div class="post-entry">
                                    <a href="https://tucentrocanino.com/el-impacto-de-los-juegos-interactivos-en-el-entrenamiento-de-perros/" target="_blank">
                                        <img src="assets/img/post-landscape-7.jpg" alt="" class="img-fluid">
                                    </a>
                                    <div class="post-meta">
                                        <span class="date">Entrenamiento y Comportamiento</span> <span class="mx-1">•</span>
                                        <span>17 Mar 2024</span>
                                    </div>
                                    <h2>
                                        <a href="https://tucentrocanino.com/el-impacto-de-los-juegos-interactivos-en-el-entrenamiento-de-perros/" target="_blank">
                                            El impacto de los juegos interactivos en el entrenamiento de perros
                                        </a>
                                    </h2>
                                </div>
                                
                            </div>
                            <div class="col-lg-4 border-start custom-border">
                                <div class="post-entry">
                                    <a href="https://www.srperro.com/blog_perro/un-perro-policia-retirado-ayuda-a-rescatar-a-los-ninos-de-la-casa-durante-un-bestial-ince/" target="_blank">
                                        <img src="assets/img/post-landscape-3.jpg" alt="" class="img-fluid">
                                    </a>
                                    <div class="post-meta">
                                        <span class="date">Historias Inspiradoras</span> <span class="mx-1">•</span> <span>5 Jul 2024</span>
                                    </div>
                                    <h2>
                                        <a href="https://www.srperro.com/blog_perro/un-perro-policia-retirado-ayuda-a-rescatar-a-los-ninos-de-la-casa-durante-un-bestial-ince/" target="_blank">
                                            Un perro policía retirado ayuda a rescatar a los niños de la casa durante un bestial incendio
                                        </a>
                                    </h2>
                                </div>
                                
                                <div class="post-entry">
                                    <a href="https://diario.madrid.es/blog/notas-de-prensa/barajas-promueve-la-adopcion-de-mascotas-para-para-frenar-el-abandono-animal/" target="_blank">
                                        <img src="assets/img/post-landscape-6.jpg" alt="" class="img-fluid">
                                    </a>
                                    <div class="post-meta">
                                        <span class="date">Adopción y Rescate</span> <span class="mx-1">•</span>
                                        <span>26 May 2024</span>
                                    </div>
                                    <h2>
                                        <a href="https://diario.madrid.es/blog/notas-de-prensa/barajas-promueve-la-adopcion-de-mascotas-para-para-frenar-el-abandono-animal/" target="_blank">
                                            Barajas promueve la adopción de mascotas para para frenar el abandono animal                                        </a>
                                    </h2>
                                </div>
                                
                                <div class="post-entry">
                                    <a href="https://www.petalertespana.es/perro-perdido/madrid">
                                        <img src="assets/img/post-landscape-8.jpg" alt="" class="img-fluid">
                                    </a>
                                    <div class="post-meta">
                                        <span class="date">Perros perdidos</span>
                                        <span class="mx-1">•</span>
                                        <span>18 Nov 2024</span>
                                    </div>
                                    <h2>
                                        <a href="https://www.petalertespana.es/perro-perdido/madrid">
                                            171 Perros Perdidos actualmente en Pet Alert Madrid. ¿Has visto alguno?
                                        </a>
                                    </h2>
                                </div>
                            </div>

                            <!-- Trending Section -->
                            <div class="col-lg-4">

                                <div class="trending">
                                    <h3>Tendencia hoy</h3>
                                    <ul class="trending-post">
                                        <li>
                                            <a href="https://www.huffingtonpost.es/global/graban-jardines-mansion-trump-florida-ven-decir-guau.html?utm_source=chatgpt.com">
                                                <span class="number">1</span>
                                                <h3>Perros robóticos patrullan la mansión de Trump en Florida</h3>
                                                <span class="author">Huffingtonpost</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cadenaser.com/cmadrid/2024/11/22/leganes-destina-8-espacios-de-la-ciudad-350000-metros-cuadrados-para-que-los-perros-puedan-ir-sueltos-ser-madrid-sur/?utm_source=chatgpt.com">
                                                <span class="number">2</span>
                                                <h3>Leganés habilita 350.000 metros cuadrados para que los perros puedan ir sueltos</h3>
                                                <span class="author">Cadena SER</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.huffingtonpost.es/life/animales/europa-activa-alertas-rara-enfermedad-mortal-perros-incidencia-espana.html?utm_source=chatgpt.com">
                                                <span class="number">3</span>
                                                <h3>Europa activa alertas por la expansión de la leptospirosis en perros
                                                </h3>
                                                <span class="author">Huffingtonpost</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cadenaser.com/andalucia/2024/11/11/mas-de-2000-perros-de-150-razas-participan-expocan-torremolinos-ser-malaga/?utm_source=chatgpt.com">
                                                <span class="number">4</span>
                                                <h3>Más de 2.000 perros de 150 razas participan en Expocan Torremolinos</h3>
                                                <span class="author">Cadena SER</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.elconfidencial.com/alma-corazon-vida/2024-01-27/moda-para-mascotas-perro-tendencias-wou-2024_3818728/?utm_source=chatgpt.com">
                                                <span class="number">5</span>
                                                <h3>Chubasqueros, sofás y tecnología: las tendencias de moda para mascotas en 2024</h3>
                                                <span class="author">El Confidencial</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div> <!-- End Trending Section -->
                        </div>
                    </div>

                </div> <!-- End .row -->
            </div>

        </div>

    </section><!-- /Trending Category Section -->
<%- include("footer", {}) %>