<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Inicio de Sesión</title>
</head>
<body>

    <!-- Imagen -->
    <img src="https://via.placeholder.com/150" alt="Imagen de ejemplo">

    <!-- Formulario de Inicio de Sesión -->
    <h2>Iniciar Sesión</h2>
    <form action="/login" method="post">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br><br>
        <!-- Enlace para "Olvidé mi contraseña" -->
        <a href="/forgot-password">¿Olvidaste tu contraseña?</a><br><br>

        
        <input type="submit" value="Iniciar Sesión">
    </form>

</body>
</html>