<%- include("header", {}) %>

    <!-- Contenedor del formulario -->
    <div class="sesion_container">
        <!-- Imagen -->
        <img class="ini_img" src="../img/logo_prov2.jpg" alt="Imagen de ejemplo" height="338" width="338">

        <!-- Formulario de Inicio de Sesión -->
        <h2 class="inicio_titulo">Iniciar sesión</h2>
        <form class="inicio_form" action="/login" method="post">
            <label class="inicio_label" for="username">Nombre de usuario:</label><input class="inicio_input" type="text" id="username" name="username" required><br><br>
            <label class="inicio_label" for="password">Contraseña:</label><input class="inicio_input" type="password" id="password" name="password" required><br><br>
            <a class="olvido_password" href="/forgot-password">¿Olvidaste tu contraseña?</a><br><br>
            <button class="inicio_input" type="submit">Iniciar sesión</button>
            <p class="error escondido">Error al iniciar sesión</p>
        </form>
        <p>¿Aún no te has registrado? - <a href="./register">Registrate</a></p>
    </div>

<%- include("footer", {}) %>