<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>

    <nav class="menu_nav">

        <div class="nav">
            <span>LOGO</span>
            <h1 class="titulo">Dogmmunity</h1>

            <div class="menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

        </div>

    </nav>
    
    <div class="menu_desplegable">
        <ul class="nav_link">
            <li class="link">Perfil</li>
            <li class="link">Cuidados</li>
            <li class="link">Tienda</li>
            <li class="link">Mapa</li>
            <li class="link">Juegos</li>
        </ul>
    </div>

    <script src="../js/menu.js"></script>
</body>
</html>