<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogmmunity - Perfil</title>
    <link rel="stylesheet" href="../css/styless.css">
    <link rel="icon" type="img/jpeg" href="../img/logo_1.jpeg">
    <script src="../controllers/sessionDisplay.js" defer></script>

</head>

<body>
    <div class="navbar">
        <!-- Opciones del lado izquierdo -->
        <nav>
            <a href="/">Inicio</a>
            <a href="/perfil">Perfil</a>
        </nav>
    </div>
    <header>
        <h1 id="welcome-message">¡Bienvenido, <%= username %>!</h1>
        <h3>¿Qué quieres hacer?</h3>
    </header>

    <img class="perfil_img" src="../img/<%= photo %>" alt="Imagen de perfil" width="255" height="263">

    <p>Correo electrónico: <%= email %></p>
    <form>
        <!--boton de editar perfil-->
        <input class="botonesPerfil" type="button" id="editarPerfil" name="editarPerfil" value="Editar perfil"
        onclick="window.location.href='/edit';"/>
        <br>
        <br>
        <!-- Botón para modificar foto de perfil -->
        <input class="botonesPerfil" type="button" id="modificarFoto" name="modificarFoto" value="Modificar foto de perfil"
        onclick="window.location.href='/modificarFoto';"/>
        <br>
        <br>
        <!--boton de añadir perro-->
        <input class="botonesPerfil" type="button" id="añadirPerro" name="añadirPerro" value="Añadir perro"
        onclick="window.location.href='/agregarPerro';"/>
        <br>
        <br>
        <!--boton de cerrar sesión-->
        <input class="botonesPerfil" type="button" id="logout-btn" name="logout" value="Cerrar sesión"
        onclick="cerrarSesion();"/>
    </form>    

    <script>
        // Función para cerrar sesión y redirigir a la página de confirmación de cierre de sesión
        function cerrarSesion() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    window.location.href = 'sesion_cerrada';
                } else {
                    alert('Error al cerrar sesión');
                }
            }).catch(error => console.error('Error al cerrar sesión:', error));
        }
    </script>

</body>
</html>
