<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogmmunity - Perfil</title>
    <link rel="stylesheet" href="../css/styless.css">
    <link rel="icon" type="img/jpeg" href="../img/logo_1.jpeg">
</head>

<body>
    <div class="navbar">
        <!-- Opciones del lado izquierdo -->
        <nav>
            <a href="../views/index.html">Inicio</a>
            <a href="../views/perfil.html">Perfil</a>
        </nav>
    </div>
    <header>
        <h1>¡Hola!</h1>
        <h3>¿Qué quieres hacer?</h3>
    </header>

    <img class="perfil_img" src="../img/perfil_con_perro.png" alt="Imagen de perfil" width="255" height="263">

    <form>
        <!--boton de editar perfil-->
        <input type="button" id="editar-perfil" name="editar-perfil" value="Editar perfil"
        onclick="window.location.href='editar_perfil.html';"/>
        <br>
        <!--boton de añadir perro-->
        <input type="button" id="añadirPerro" name="añadirPerro" value="Añadir perro"
        onclick="window.location.href='añadirPerro.html';"/>
    </form>    
    


</body>
</html>