<%- include("header", {}) %>

<img class="perfil_img" src="<%= profile_photo %>" alt="Imagen de perfil" width="255" height="263">

    <header>
        <h1 id="welcome-message">¡Bienvenido, !</h1>
        <h3>¿Qué quieres hacer?</h3>
    </header>

    <p>Correo electrónico: </p>
    <form>
        <!--boton de editar perfil-->
        <input class="botonesPerfil" type="button" id="editarPerfil" name="editarPerfil" value="Editar perfil"
        onclick="window.location.href='/edit_user_profile';"/>
        <br>
        <br>
        <!-- Botón para modificar foto de perfil -->
        <input class="botonesPerfil" type="button" id="modificarFoto" name="modificarFoto" value="Modificar foto de perfil"
        onclick="window.location.href='/edit_user_photo';"/>
        <br>
        <br>
        <!--boton de añadir perro-->
        <input class="botonesPerfil" type="button" id="añadirPerro" name="añadirPerro" value="Añadir perro"
        onclick="window.location.href='/dog';"/>
        <br>
        <br>
        <!--boton de cerrar sesión-->
        <input class="botonesPerfil" type="button" id="logout-btn" name="logout" value="Cerrar sesión"
        onclick="window.location.href='/logout';"/>
    </form>    
</body>
</html>
