<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Registro</title>
    <link rel="stylesheet" href="../css/registro.css">
</head>
<body>

    <div class="navbar">
        <!-- Opciones del lado izquierdo -->
        <nav>
            <a href="C:\Users\danie\Escritorio\Dogmmunity\views\index.html">Inicio</a>
            <a href="C:\Users\danie\Escritorio\Dogmmunity\views\registro.html">Sing up</a>
            <a href="C:\Users\danie\Escritorio\Dogmmunity\views\inicio_sesion.html">Log-in</a>
        </nav>
    </div>

    <!-- Contenedor del formulario -->
    <div class="form-container">
        <!-- Formulario de Registro -->
        <h2>Registrarse</h2>
        <form action="/register" method="post">
            <label for="first-name">Nombre:</label>
            <input type="text" id="first-name" name="first-name" required><br><br>

            <label for="last-name">Apellidos:</label>
            <input type="text" id="last-name" name="last-name" required><br><br>

            <label for="new-username">Nombre de usuario:</label>
            <input type="text" id="new-username" name="new-username" required><br><br>

            <!-- Aviso bajo el nombre de usuario -->
            <small>* No podrás modificar tu nombre de usuario después del registro.</small><br><br>


            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="new-password">Contraseña:</label>
            <input type="password" id="new-password" name="new-password" required><br><br>

            <label for="confirm-password">Confirmar contraseña:</label>
            <input type="password" id="confirm-password" name="confirm-password" required><br><br>


            <input type="submit" value="Registrarse">
        </form>
        <script src="C:\Users\danie\Escritorio\Dogmmunity\js\main.js"></script>
    </div>

</body>
</html>
