<%- include("header", {}) %>

    <!-- Contenedor del formulario -->
    <div class="registro_container">
        <!-- Formulario de Registro -->
        <h2 class="registro_titulo">Registrarse</h2>
        <form class="registro_form" action="/register" method="post">

            <label class="registro_label" for="user">Nombre de usuario:</label><input class="registro_input" type="text" id="user" name="user" required><br><br>

            <label class="registro_label" for="email">Correo electrónico:</label><input class="registro_input" type="email" id="email" name="email" required><br><br>

            <label class="registro_label" for="password">Contraseña:</label><input class="registro_input" type="password" id="password" name="password" required><br><br>

            <button class="registro_input" type="submit">Registrarse</button>
            <p class="error escondido">Error al registrarse</p>
        </form>
        <p>¿Ya te has registrado? - <a href="./login">Iniciar sesión</a></p>
    </div>

<%- include("footer", {}) %>