/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f1ebda;
    color: #000000;
    text-align: center;
}

/*Navbar Menu*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d0bca7;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #f1ebda;
    border-radius: 5px;
}


/*Index inicio*/
/* Imagen de fondo */

.index_img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/*Titulo Bienvenida*/
.bienvenida {
    margin-top: 20px;
    font-size: 48px;
    color: #54382a;
}

/*Subtitulos Inicio*/
.eslogan {
    font-size: 24px;
    color: #2f4f4f;
    margin-bottom: 10px;
}

.introduccion {
    font-size: 20px;
    color: #000000;
    margin-bottom: 30px;
}
/*Index cierre*/


/* Inicio_Sesion inicio */

/* Contenedor del formulario */
.sesion_container {
    background-color: #FFFFFF; /* Blanco Puro */
    padding: 40px; /* Aumentar el padding */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
    display: inline-block; /* Para centrar el formulario */
    margin-top: 25px; /* Espacio superior */
    margin-bottom: 25px; /* Espacio inferior */
}

/* Imagen */
.ini_img {
    margin-bottom: 20px; /* Espacio debajo de la imagen */
    width: 200px; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
}

/* Título del formulario */
.inicio_titulo {
    font-size: 28px;
    color: #54382a;
    margin: 20px 0;
}

/* Estilo para el formulario */
.inicio_form {
    display: flex;
    flex-direction: column; /* Organizar los elementos en columna */
    align-items: center; /* Centramos los elementos dentro del formulario */
}

/* Etiquetas del formulario */
.inicio_label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

/* Campos de entrada */
.inicio_input[type="text"],
.inicio_input[type="password"] {
    width: 100%; /* Ancho completo */
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 15px; /* Espacio entre campos */
    font-size: 16px;
    font-weight: normal;
}

/* Estilo para el enlace */
.olvido_password {
    color: #000000; /* Negro  */
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
}

.olvido_password:hover {
    text-decoration: underline; /* Subrayado al pasar */
    color: #000080; /*cambia a azul*/
}

/* Botón de envío */
.inicio_input[type="submit"] {
    background-color: #d0bca7; 
    color: #000000; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.inicio_input[type="submit"]:hover {
    background-color: #54382a; 
    color: #FFFFFF;
}

.error{
    color: red;
}

.escondido{
    display: none;
}

/* Fin Inicio_Sesion */

/*Registro inicio*/
/* Contenedor del formulario */
.registro_container {
    background-color: #FFFFFF; /* Blanco Puro */
    padding: 40px; /* Espaciado interno */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Para centrar el contenedor */
    margin-top: 25px; /* Espacio superior */
    margin-bottom: 25px; /* Espacio inferior */
}

/* Título del formulario */
.registro_titulo {
    font-size: 28px;
    color: #54382a; 
    margin: 20px 0;
}

/* Estilo para el formulario */
.registro_form {
    display: flex;
    flex-direction: column; /* Organizar los elementos en columna */
    align-items: center; /* Centramos los elementos dentro del formulario */
}

/* Etiquetas del formulario */
.regsitro_label {
    display: block;
    margin: 10px 0 5px; /* Espaciado normal entre el label y el campo de entrada */
    font-weight: bold;
}

/* Campos de entrada */
.registro_input[type="text"],
.registro_input[type="email"],
.registro_input[type="password"] {
    width: 100%; /* Ancho completo */
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 15px; /* Espacio uniforme entre campos */
    font-size: 16px;
    font-weight: normal;
}

/* Estilo para el aviso */
small {
    display: block; /* Hace que el aviso ocupe su propia línea */
    color: red; /* Color del aviso */
}

/* Botón de envío */
.registro_input[type="submit"] {
    background-color: #d0bca7; 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.registro_input[type="submit"]:hover {
    background-color: #54382a; 
    color: white; 
}

/*Registro cierre*/

/*Perfil*/

/*Fin editar perfil*/
.botonesPerfil{
    background-color: #d0bca7; 
    color: black; 
    border: 1px solid black; 
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-bottom: 20px;
}

.botonesPerfil:hover{
    color: #FFFFFF;
    background-color: #54382a
}
/*Editar perfil*/

.formularioPerfil {
    background-color: #f8f9fa; 
    padding: 20px; 
    margin: 0 auto 20px auto;
    width: 300px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border: 2px solid #cccccc; /* borde form*/
}

.botonesGuardarPerfil[type="submit"] {
    background-color: #d0bca7; 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botonesGuardarPerfil[type="submit"]:hover {
    background-color: #54382a; 
    color: white; 
}

/*Fin editar perfil*/

/*Formulario añadir perro*/


.botonesGuardarPerro[type="submit"] {
    background-color: #d0bca7; 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.formNombrePerros {
    background-color: #f8f9fa; 
    padding: 20px; 
    margin: 0 auto 20px auto;
    width: 300px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border: 2px solid #cccccc; /* borde form*/
}

.formEdadPerros {
    background-color: #f8f9fa; 
    padding: 20px; 
    margin: 0 auto 20px auto;
    width: 300px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border: 2px solid #cccccc; /* borde form*/
}

.formPesoPerros {
    background-color: #f8f9fa; 
    padding: 20px; 
    margin: 0 auto 20px auto;
    width: 300px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border: 2px solid #cccccc; /* borde form*/
}

.formRazaPerros {
    background-color: #f8f9fa; 
    padding: 20px; 
    margin: 0 auto 20px auto;
    width: 300px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border: 2px solid #cccccc; /* borde form*/
}

.formSexoPerros {
    background-color: #f8f9fa; 
    padding: 20px; 
    margin: 0 auto 20px auto;
    width: 300px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border: 2px solid #cccccc; /* borde form*/
}

